<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>FRANGI奢养金萃精华液，给肌肤穿上“丝绸”</title>
	<meta name="keywords" content="FRANGI奢养金萃精华液，给肌肤穿上“丝绸”" />
	<meta name="description" content="奢养成分，源于天然，6重功效，有效应对5大肌肤本源问题！" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no,email=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />  
	<meta http-equiv="Pragma" content="no-cache" />  
	<meta http-equiv="Expires" content="0" />
	<link rel="icon" href="../../IMG/frangi.ico" type="image/x-icon">
	<link rel="stylesheet" href="../css/base.css"> 
	<!-- pageCSS -->
	<link rel="stylesheet" href="../css/public.css"> 
	<link rel="stylesheet" href="../css/page/essence.css?v=18060101"> 
	<!-- pluginsJS -->
	<link rel="stylesheet" href="../../CSS/swiper.min.css">
	<link rel="stylesheet" href="../../CSS/animate.min.css">
	<script src="../../JS/flexible_css.js"></script>
	<script src="../../JS/flexible.js"></script>
	<!-- h5.frangi.cn Baidu tongji analytics -->
	<script src="../../JS/baiduhm.js"></script>
</head> 

<body>
	<!-- Music-bg -->
	<div class="music" onclick="MusicBgClick()">
		<i class="icon-music open" play="1"></i>
		<audio id="music-bg" src="../video/music-bg.mp3" loop="loop" autoplay="autoplay" loop="loop"></audio>
	</div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide pb_bg">
				<div class="page-content p_content">
					<img data-src="../img/essence/1/bg.png" class="swiper-lazy" >
				</div>  
				<div class="page-content p_content">
					<img data-src="../img/essence/1/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div>
			<div class="swiper-slide p2_bg">
				<div class="page-content p_content">
					<img data-src="../img/essence/2/bg.png" class="swiper-lazy" >
				</div>  
				<div class="page-content p_content">
					<img data-src="../img/essence/2/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div> 
			<div class="swiper-slide p_bg"> 
				<div class="page-content p_content">
					<img data-src="../img/essence/3/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div>
			<div class="swiper-slide pb_bg">
				<div class="page-content p_content">
					<img data-src="../img/essence/4/bg.png" class="swiper-lazy" >
				</div>  
				<div class="page-content p_content">
					<img data-src="../img/essence/4/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div>
			<div class="swiper-slide p_bg"> 
				<div class="page-content p_content">
					<img data-src="../img/essence/5/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div>
			<div class="swiper-slide p_bg"> 
				<div class="page-content p_content">
					<img data-src="../img/essence/6/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div>
			<div class="swiper-slide p_bg"> 
				<div class="page-content p_content">
					<img data-src="../img/essence/7/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div>
			<div class="swiper-slide p_bg"> 
				<div class="page-content p_content">
					<img data-src="../img/essence/8/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div>
			<div class="swiper-slide p_bg"> 
				<div class="page-content p_content">
					<img data-src="../img/essence/9/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div>
			<div class="swiper-slide pb_bg">
				<div class="page-content p_content">
					<img data-src="../img/essence/10/bg.png" class="swiper-lazy" >
				</div>  
				<div class="page-content p_content">
					<img data-src="../img/essence/10/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div>
			<div class="swiper-slide p_bg"> 
				<div class="page-content p_content">
					<img data-src="../img/essence/11/content.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>  
			</div>
			<div class="swiper-slide p_bg"> 
				<div class="page-content p_content">
					<img data-src="../img/essence/12/content.png" class="swiper-lazy" >
				</div>  
			</div>
		</div> 
	</div> 

	<script src="../../JS/swiper.min.js"></script>
	<script src="../../JS/swiper.animate.min.js"></script>
	<script src="../../JS/jquery-3.2.1.min.js"></script>
	<script src="../../JS/jweixin.js"></script>
	<script src="../js/weixinshare.js"></script>
	<script src="../js/public.js"></script>
	<script>
		CurProName='FRANGI奢养金萃精华液，给肌肤穿上“丝绸”';
		CurProDesc='奢养成分，源于天然，6重功效，有效应对5大肌肤本源问题！';
		CurProUrl='view/essence.html';
		var swiper1 = new Swiper('.swiper-container', { 
			paginationClickable: true,
			direction: 'vertical',
			lazyLoading : true,
			mousewheelControl : true,
			onInit: function(swiper){ 
				swiperAnimateCache(swiper);
				swiperAnimate(swiper); 
			}, 
			onSlideChangeEnd: function(swiper){ 
				swiperAnimate(swiper); 
			} 
		});
	</script>
</body>
</html> 