<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>FRANGI女神水，酵醒你的美</title>
	<meta name="keywords" content="FRANGI女神水，酵醒你的美" />
	<meta name="description" content="提升肌肤6大维度，8大功效，每一天更年轻！" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no,email=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />  
	<meta http-equiv="Pragma" content="no-cache" />  
	<meta http-equiv="Expires" content="0" />
	<link rel="icon" href="../../IMG/frangi.ico" type="image/x-icon">
	<link rel="stylesheet" href="../css/base.css"> 
	<!-- pageCSS -->
	<link rel="stylesheet" href="../css/public.css"> 
	<link rel="stylesheet" href="../css/page/treatment.css?v=18062101"> 
	<!-- pluginsJS -->
	<link rel="stylesheet" href="../../CSS/swiper.min.css">
	<link rel="stylesheet" href="../../CSS/animate.min.css">
	<script src="../../JS/flexible_css.js"></script>
	<script src="../../JS/flexible.js"></script>
	<!-- h5.frangi.cn Baidu tongji analytics -->
	<script src="../../JS/baiduhm.js"></script>
</head> 

<body>
	<!-- Music-bg -->
	<div class="music" onclick="MusicBgClick()">
		<i class="icon-music open" play="1"></i>
		<audio id="music-bg" src="../video/music-bg.mp3" loop="loop" autoplay="autoplay" loop="loop"></audio>
	</div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide p1_bg">
				<div class="page-content bg_t">
					<img data-src="../img/treatment/1/bg_t.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="3s">
				</div> 
				<div class="page-content p1_t1">
					<img data-src="../img/treatment/1/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>
				<div class="page-content bg_f">
					<img data-src="../img/treatment/1/bg_f.png" class="swiper-lazy bgf_ani">
				</div> 
				<div class="page-content bg_b">
					<img data-src="../img/treatment/1/bg_b.png" class="ani swiper-lazy" swiper-animate-effect="slideInUp" swiper-animate-duration="0.75s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1s">
				</div>  
			</div>
			<div class="swiper-slide z_bg">
				<div class="page-content p15_t1">
					<img data-src="../img/treatment/15/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>
				<div class="page-content p15_t2">
					<img data-src="../img/treatment/15/t2.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div>
				<div class="page-content p15_a1">
					<img data-src="../img/treatment/15/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p15_a2">
					<img data-src="../img/treatment/15/a2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
				</div>  
			</div>
			<div class="swiper-slide z_bg">
				<div class="page-content p2_a0">
					<img data-src="../img/treatment/2/a0.png" class="ani swiper-lazy" swiper-animate-effect="rotateIn" swiper-animate-duration="1.5s" swiper-animate-delay="1s">
				</div> 
				<div class="page-content p2_a1">
					<img data-src="../img/treatment/2/a1.png" class="ani swiper-lazy" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div> 
				<div class="page-content p2_t1">
					<img data-src="../img/treatment/2/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>
				<div class="page-content p2_t2">
					<img data-src="../img/treatment/2/t2.png" class="ani swiper-lazy" swiper-animate-effect="zoomIn" swiper-animate-duration="1.25s" swiper-animate-delay="1s">
				</div>  
				<div class="page-content p2_t3">
					<img data-src="../img/treatment/2/t3.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2s">
				</div>  
			</div>  
			<div class="swiper-slide p3_bg"> 
				<div class="page-content p3_a2">
					<img data-src="../img/treatment/3/a2.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>
				<div class="page-content p3_bottle p3_b1">
					<img data-src="../img/treatment/3/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>
				<div class="page-content p3_bottle p3_b2">
					<img data-src="../img/treatment/3/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.15s">
				</div>
				<div class="page-content p3_bottle p3_b3">
					<img data-src="../img/treatment/3/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
				</div>
				<div class="page-content p3_bottle p3_b4">
					<img data-src="../img/treatment/3/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.45s">
				</div>
				<div class="page-content p3_bottle p3_b5">
					<img data-src="../img/treatment/3/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.6s">
				</div>
				<div class="page-content p3_bottle p3_b6">
					<img data-src="../img/treatment/3/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.75s">
				</div>
				<div class="page-content p3_bottle p3_b7">
					<img data-src="../img/treatment/3/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.9s">
				</div>
				<div class="page-content p3_bottle p3_b8">
					<img data-src="../img/treatment/3/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.05s">
				</div>
				<div class="page-content p3_text p3_t1">
					<img data-src="../img/treatment/3/t1.png?v=18053101" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>
				<div class="page-content p3_text p3_t2">
					<img data-src="../img/treatment/3/t2.png?v=18053101" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.15s">
				</div>
				<div class="page-content p3_text p3_t3">
					<img data-src="../img/treatment/3/t3.png?v=18053101" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
				</div>
				<div class="page-content p3_text p3_t4">
					<img data-src="../img/treatment/3/t4.png?v=18053101" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.45s">
				</div>
				<div class="page-content p3_text p3_t5">
					<img data-src="../img/treatment/3/t5.png?v=18053101" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.6s">
				</div>
				<div class="page-content p3_text p3_t6">
					<img data-src="../img/treatment/3/t6.png?v=18053101" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.75s">
				</div>
				<div class="page-content p3_text p3_t7">
					<img data-src="../img/treatment/3/t7.png?v=18053101" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.9s">
				</div>
				<div class="page-content p3_text p3_t8">
					<img data-src="../img/treatment/3/t8.png?v=18053101" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.05s">
				</div>
				<div class="page-content p3_rl">
					<img data-src="../img/treatment/3/rl.png" class="ani swiper-lazy" swiper-animate-effect="rotateIn" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
				</div>
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.5s">
				</div>  
			</div>
			<div class="swiper-slide p4_bg">
				<div class="page-content p4_t0">
					<img data-src="../img/treatment/4/t0.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>
				<div class="page-content p4_a1">
					<img data-src="../img/treatment/4/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p4_a2">
					<img data-src="../img/treatment/4/a2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p4_t1">
					<img data-src="../img/treatment/4/t1.png?v=18052501" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div> 
				<div class="page-content p4_t2">
					<img data-src="../img/treatment/4/t2.png?v=18052501" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.75s">
				</div> 
				<div class="page-content p4_t3">
					<img data-src="../img/treatment/4/t3.png?v=18052501" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
				</div> 
				<div class="page-content p4_t4">
					<img data-src="../img/treatment/4/t4.png?v=18052501" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.25s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s">
				</div>  
			</div> 
			<div class="swiper-slide z_bg">
				<div class="page-content p5_a1">
					<img data-src="../img/treatment/5/a1.png" class="ani swiper-lazy" swiper-animate-effect="bgc_ani" swiper-animate-duration="5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p5_t1">
					<img data-src="../img/treatment/5/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p5_t2">
					<img data-src="../img/treatment/5/t2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
				</div>  
			</div> 
			<div class="swiper-slide z_bg">
				<div class="page-content p6_b1">
					<img data-src="../img/treatment/6/b1.png" class="ani swiper-lazy" swiper-animate-effect="bgc_ani" swiper-animate-duration="5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p6_t1">
					<img data-src="../img/treatment/6/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p6_a1">
					<img data-src="../img/treatment/6/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.25s">
				</div> 
				<div class="page-content p6_a2">
					<img data-src="../img/treatment/6/a2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div> 
				<div class="page-content p6_a3">
					<img data-src="../img/treatment/6/a3.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.75s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
				</div>  
			</div>
			<div class="swiper-slide p7_bg">
				<div class="page-content p7_t1">
					<img data-src="../img/treatment/7/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p7_a0">
					<img data-src="../img/treatment/7/a0.png" class="swiper-lazy">
				</div> 
				<div class="page-content p7_a1">
					<img data-src="../img/treatment/7/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p7_a2">
					<img data-src="../img/treatment/7/a2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.25s">
				</div> 
				<div class="page-content p7_t2">
					<img data-src="../img/treatment/7/t2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
				</div>  
			</div> 
			<div class="swiper-slide p8_bg">
				<div class="page-content p8_t1">
					<img data-src="../img/treatment/8/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div>
				<div class="page-content p8_a1">
					<img data-src="../img/treatment/8/a1.png?v=18052302" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p8_a2">
					<img data-src="../img/treatment/8/a2.png?v=18052302" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
				</div>  
			</div>
			<div class="swiper-slide p9_bg">
				<div class="page-content p9_t1">
					<img data-src="../img/treatment/9/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0s">
				</div>
				<div class="page-content p9_t2">
					<img data-src="../img/treatment/9/t2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.25s">
				</div>  
				<div class="page-content p9_a0">
					<img data-src="../img/treatment/9/a0.png" class="swiper-lazy">
				</div>  
				<div class="page-content p9_a1">
					<img data-src="../img/treatment/9/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
				</div> 
				<div class="page-content p9_a2">
					<img data-src="../img/treatment/9/a2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.75s">
				</div> 
				<div class="page-content p9_a3">
					<img data-src="../img/treatment/9/a3.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s">
				</div>  
			</div>
			<div class="swiper-slide z_bg">
				<div class="page-content p10_a1">
					<img data-src="../img/treatment/10/a1.png?v=18052501" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p10_a2">
					<img data-src="../img/treatment/10/a2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p10_t1">
					<img data-src="../img/treatment/10/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p10_t2">
					<img data-src="../img/treatment/10/t2.png?v=18052301" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
				</div>  
			</div>
			<div class="swiper-slide z_bg">
				<div class="page-content p11_t1">
					<img data-src="../img/treatment/11/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p11_a1">
					<img data-src="../img/treatment/11/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.75s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p11_a3">
					<img data-src="../img/treatment/11/a3.png" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.75s" swiper-animate-delay="0.5s">
				</div> 
				<div class="page-content p11_a2">
					<img data-src="../img/treatment/11/a2.png?v=18052301" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.75s" swiper-animate-delay="1s">
				</div> 
				<div class="page-content p11_a4">
					<img data-src="../img/treatment/11/a4.png?v=18052301?v=18052501" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.75s" swiper-animate-delay="1.5s">
				</div> 
				<div class="page-content p11_a5">
					<img data-src="../img/treatment/11/a5.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.75s" swiper-animate-delay="1.5s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.5s">
				</div>  
			</div>
			<div class="swiper-slide z_bg">
				<div class="page-content p12_t1">
					<img data-src="../img/treatment/12/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p12_t2">
					<img data-src="../img/treatment/12/t2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
				</div> 
				<div class="page-content p12_t3">
					<img data-src="../img/treatment/12/t3.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1s">
				</div> 
				<div class="page-content p12_t4">
					<img data-src="../img/treatment/12/t4.png?v=18052501" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.5s">
				</div> 
				<div class="page-content p12_t5">
					<img data-src="../img/treatment/12/t5.png?v=18052501" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="2s">
				</div> 
				<div class="page-content p12_a1">
					<img data-src="../img/treatment/12/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="2.5s">
				</div> 
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="3s">
				</div>  
			</div> 
			<div class="swiper-slide z_bg">
				<div class="page-content p13_t1">
					<img data-src="../img/treatment/13/t1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
				</div> 
				<div class="page-content p13_a1">
					<img data-src="../img/treatment/13/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
				</div>
				<div class="page-content p13_a2">
					<img data-src="../img/treatment/13/a2.png" class="ani swiper-lazy" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="1s">
				</div>  
				<div class="page-content p13_a3">
					<img data-src="../img/treatment/13/a3.png" class="ani swiper-lazy" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="1.5s">
				</div>
				<div class="page-content p13_a4">
					<img data-src="../img/treatment/13/a4.png" class="ani swiper-lazy" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="2s">
				</div>  
				<div class="page-content bottom-arr">
					<img data-src="../img/base/arrow.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.5s">
				</div>  
			</div> 
			<div class="swiper-slide">
				<div class="page-content p14_a1">
					<img data-src="../img/treatment/14/a1.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0s">
				</div>
				<div class="page-content p14_a2">
					<img data-src="../img/treatment/14/a2.png" class="ani swiper-lazy" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0.25s">
				</div>
				<div class="page-content p14_a3">
					<img data-src="../img/treatment/14/a3.png" class="swiper-lazy">
				</div>
			</div>
		</div> 
	</div> 

	<script src="../../JS/swiper.min.js"></script>
	<script src="../../JS/swiper.animate.min.js"></script>
	<script src="../../JS/jquery-3.2.1.min.js"></script>
	<script src="../../JS/jweixin.js"></script>
	<script src="../js/weixinshare.js"></script>
	<script src="../js/public.js"></script>
	<script>
		CurProName='FRANGI女神水，酵醒你的美';
		CurProDesc='提升肌肤6大维度，8大功效，每一天更年轻！';
		CurProUrl='view/treatment.html';
		var swiper1 = new Swiper('.swiper-container', { 
			paginationClickable: true,
			direction: 'vertical',
			lazyLoading : true,
			mousewheelControl : true,
			onInit: function(swiper){ 
				swiperAnimateCache(swiper);
				swiperAnimate(swiper); 
			}, 
			onSlideChangeEnd: function(swiper){ 
				swiperAnimate(swiper); 
			} 
		});
	</script>
</body>
</html> 